<body>
  <div class="container-fluid text-center mt-5">
    <h1>Delete User: <%= userid %></h1>
    <h2>Are you sure?</h2>
    <div class="d-flex justify-content-center">
      <form action="/user/<%= userid %>/?_method=DELETE" method="POST" class="d-inline-block mt-3">
        <input type="submit" class="btn btn-danger me-2" value="Yes" />
        <a href="/profile" class="btn btn-success">No</a>
      </form>
    </div>
  </div>
</body>
