<body class="text-center">
  <div class="container">
    <form action="/<%= userid %>/?_method=PUT" method="POST">
      <h1 class="mb-2 mt-5">Edit User</h1>
      <h2 class="mb-2"><%= name %></h2>
      <h4 class="mb-4">User ID: <%= userid %></h4>

      <div class="form-floating">
        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
        <label for="name">Enter a new name</label>
      </div>

      <button class="w-75 btn btn-lg btn-primary mt-5" type="submit">Update User</button>
      <a href="/profile" class="btn btn-lg btn-danger w-75 mt-2">Cancel Update</a>
    </form>
  </div>
