<img class="mx-auto d-block" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%= champion.charAt(0).toUpperCase() + champion.slice(1) %>_0.jpg" alt="<%= champion %> Splash Art">

<h1><%= champion.charAt(0).toUpperCase() + champion.slice(1) %></h1>
<h2><%= championData.title %></h2>
<h3>Champion Tags</h3>
<ul>
  <li>Fighter</li>
  <li>Tank</li>
</ul>
<p>Once honored defenders of Shurima against the Void, Aatrox and his brethren would eventually become an even greater threat to Runeterra, and were defeated only by cunning mortal sorcery. But after centuries of imprisonment, Aatrox was the first to find...</p>
<h3>Tips</h3>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Tip #1</h6>
        <p class="mb-0 opacity-75">Use Umbral Dash while casting The Darkin Blade to increase your chances of hitting the enemy</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
</div>
<ul>
  <li>Use Umbral Dash while casting The Darkin Blade to increase your chances of hitting the enemy.</li>
  <li>Crowd Control abilities like Infernal Chains or your allies' immobilizing effects will help you set up The Darkin Blade.</li>
  <li>Cast World Ender when you are sure you can force a fight.</li>
</ul>
